<!DOCTYPE html>
<html>
  <head>
    <title>Quotate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quotate</h1>
    <p><a href="/index">View Quotes</a></p>
  </body>
</html>
