<%- include('../partials/header') %>

<p>
	Please make sure your title and/or author is not already added
	<select>
		<% sources.forEach(function(s) { %>
            <option><%= s.title %></option>
            <% }); %>
	</select>
	<select>
		<% sources.forEach(function(s) { %>
            <option><%= s.author %></option>
            <% }); %>
	</select>
</p>
<form action="/sources" method="POST">
	<label>Title:</label>
	<input type="text" name="title" />
	<label>Author:</label>
	<input type="text" name="author" />
	<input type="submit" value="Add Source" />
</form>