<main>
    <h2>Edit Quote</h2>
    <form action="/quotes/<%=quoteToEdit.id%>?_method=PUT" method="POST">
      <input type="text" name="content" value="<%=quoteToEdit.content%>"><br>
      <button type="submit">Update Quote</button>
    </form>
  </main>
</body>
</html>