<%- include('../partials/header') %>

    <h1>All Quotes</h1>
    <div id="list">
      <blockquote>
        <% quotes.forEach(function(q) { %>
          <% sources.forEach(function(s) { %> 
          <p><%= q.content %></p>
          -
          <cite><%= `${s.title}... ${s.author}` %></cite>
          <button><a href="/quotes/<%= q._id %>"><small>Preferences</small></a></button>
          <% }); %>
          <% }); %>
      </blockquote>
    </div>
  </body>
</html>
