<%- include('../partials/header') %>

    <form action="/quotes" method="POST">
        <label>Quote:</label>
        <input type="text" name="content">
        <select name="source">
            <%- sources.map(s => `
            <option value="${s._id}">${s.title} ${s.author}</option>
            `).join('...') %>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>