<%- include('../partials/header') %>

    <form action="/quotes" method="POST">
        <textarea type="text" name="content" class="textarea is-primary is-large is-rounded" placeholder="Enter Quote Here"></textarea>
    </br>
        <div class="select is-multiple is-rounded is-primary is-large">
            <select name="source" class="select" class="quote-input">
            <%- sources.map(s => `
            <option value="${s._id}">${s.title} ... ${s.author}</option>
            `).join('...') %>
            </select>
        </div>
        </br>
    </br>
        <button type="submit" class="button is-primary is-large">Submit</button>
    </form>