<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotate</title>
</head>
<body>
    <h1>New Quote</h1>
    <table>
        <div><%= quote.content %> </div>
        <div><%= quote.source %> </div>
    </table>
    <button><a href="/quotes/"></a>Edit</button>
</body>
</html>